@media screen and (max-width:590px) {
    table {
        border: 1pt solid rgba(0, 0, 0, 0.233);
        font-size: 14px;
    }
    h2, caption {
        font-size: 16px;
    }
}

@media screen and (min-width:591px) and (max-width: 790px){
    table {
        border: 1pt solid rgba(0, 0, 0, 0.233);
        font-size: 18px;
    }
    h2, caption {
        font-size: 20px;
    }
}

@media screen and (min-width: 791px){
    table {
        border: 1pt solid rgba(0, 0, 0, 0.233);
        font-size: 20px;
    }
    h2, caption {
        font-size: 22px;
    }
}

.centerSectionContent table{
    width: 100%;
    margin-top: 8%;
    margin-left: auto;
    margin-right: auto;
}

th {
    background-color: rgb(209, 215, 226, 1.5);
}

tr:nth-child(even) {
    background-color: rgb(215, 226, 209,1.5);
  }

tr:nth-child(odd) {
    background-color: rgb(226, 209, 215,1.5);
}

table a:link {
    color: blue;
}

table a:visited {
    color: blue;
}

table a:hover {
    color: violet;
}